<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About - Climate Solutions</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <%- include('partials/navbar', {page: '/about'}) %>

    <div class="container mx-auto">
        <div class="hero bg-base-200">
            <div class="hero-content text-center">
                <div class="max-w-md">
                    <h1 id="about" class="text-5xl font-bold">About</h1>
                    <p>All about me</p>
                </div>
            </div>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-8">
            <div>
                <img src="/images/image1.jpg" alt="Your Name" class="w-full h-auto rounded-lg shadow-2xl">
            </div>
            <div>
                <h2 id="chin-lok-ho" class="text-3xl font-bold mb-4">Chin Lok Ho</h2>
                <p>I'm a student at Seneca College. In my free time, I enjoy watching movie, reading, and exploring innovative solutions for climate change.</p>
            </div>
        </div>
    </div>
</body>
</html>